<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Sitio web con Django | Juan Daniel Suarez</h2>
<hr/>

<ul>
    <li><a href="/">Inicio</a></li>
    <li><a href="/hola-mundo">Hola Mundo</a></li>
    <li><a href="/pagina-prueba">Pagina</a></li>
    <li><a href="/contacto">Contacto</a></li>
</ul>
<hr/>
<div id="content">

    
</div>

<footer>

<h2>Contacto</h2>
<hr/>
<b>Nombre: </b> <p>Juan Daniel Suarez</p>
<b>Telefono: </b> <p>3209188638</p>
<b>Email: </b> <p>juanda554242@gmail.com</p>
<p>Master en python &copy; Juan Daniel</p>
</footer>
</body>
</html>