{% load static %}

<!DOCTYPE html>
<html lang="es">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">   
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
		<title>MisionTIC - Tienda Virtual</title>
		<meta name="description" content="Este es un ejemplo de Tienda Virtual para el Ciclo 1 del programa MisiónTIC 2020">
		<meta name="author" content="Carlos A. Sierra [casierrav@unal.edu.co]">
        <meta name="keywords" content="tienda,virtual,misiontic">

        <meta http-equiv="Pragma" content="no-cache">
        <link rel="shortcut icon" href="{% static 'tienda_virtual/images/icono.png' %}" type="image/x-icon">

        <link rel="stylesheet" type="text/css" href="{% static 'tienda_virtual/css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'tienda_virtual/css/bootstrap.css' %}">
		
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    </head>
    <body class="container">
        <nav class="navbar navbar-expand-lg menu text-center">
            <a class="navbar-brand" href="#">JDVPL</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/productos/">Productos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/carrito_compras/">Carrito</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/historial_compras/" >Historial</a>
                </li>
              </ul>
            </div>
          </nav>
        <div class="text-center m-auto">
            <img class="img-fluid" src="{% static 'tienda_virtual/images/jdvpl.png' %}">
        </div>
     
        <div class="content container">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <script src="../../static/tienda_virtual/js/jquery.js""></script>
        <script src="../../static/tienda_virtual/js/bootstrap.js"></script>
    </body>
</html>
