{% extends 'tienda_virtual/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="col-md-12">
    <div class="row">
        <div class="section-title">
            <h2>Historial de Compras</h2>
        </div>	

            <table class="mt-2 table table-responsive-lg table-hover table-bordered">
            <thead>
                <tr class="bg-dark text-white text-center">
                    <td><b>No. Compra</b></td>
                    <td><b>Productos</b></td>
                    <td><b>Nombre</b></td>
                    <td><b>Fecha</b></td>
                    <td><b>Dirección de Env&iacute;o</b></td>
                    <td><b>Costo</b></td>
                    <td><b>M&eacute;todo de Pago</b></td>
                    <td><b>Comentarios</b></td>
                </tr>
            </thead>
                {% for compra in historial %}
                    <tr> 
                        <td>{{ compra.numero }}</td>
                        <td>{{ compra.productos }}</td>
                        <td>{{ compra.nombre }}</td>
                        <td>{{ compra.fecha }}</td>
                        <td>{{ compra.direccion }}</td>
                        <td>{{ compra.costo }}</td>
                        <td>{{ compra.metodo }}</td>
                        <td>{{ compra.observaciones }}</td>
                    </tr>
                {% endfor %}
            </table>
        
    </div>
    </div>
</div>
{% endblock %}