{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">

</head>
<body >
<header>
</header>

 <ul class="navbar-nav mr-auto">
        <li >
          <a  href="/">Inicio></a>
        </li>
        <li >
          <a c href="/hola-mundo">Hola Mundo</a>
        </li>
        <li >
            <a href="/pagina-prueba">Pagina</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Contacto</a>
          </li>
    </ul>


  <h2>Sitio web con Django | Juan Daniel Suarez</h2>
  <hr/>

<div id="content" class="bg-danger">
    {% block content%}
        <!-- codigo que viene de los templates -->
        <strong>Contenido del codigo inicial</strong>
    {% endblock %}
</div>

<footer>

<h2>Contacto</h2>
<hr/>
<b>Nombre: </b> <p>Juan Daniel Suarez</p>
<b>Telefono: </b> <p>3209188638</p>
<b>Email: </b> <p>juanda554242@gmail.com</p>
<p>Master en python &copy; Juan Daniel</p>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
</footer>
</body>
</html>