
::-webkit-scrollbar{
    border-radius: 10px !important;
    width: 0px !important;
    background-color: rgb(219, 120, 7) !important;
}
::-webkit-scrollbar-track{

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3) !important;
    background-color: black !important;
}
::-webkit-scrollbar-thumb{
    border-radius: 5px !important;
    background-color: rgb(218, 109, 8) !important; 
}


